<div class="content">
  <div class="responsive" style="height: 100%;">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="https://images.unsplash.com/photo-1434742937189-458c80959a6c?q=80&w=1874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="purpleBox">
          <p class="purpleText">
            Welcome to our handmade store, where creativity meets craftsmanship. Each piece is uniquely designed and handcrafted with love and care.
          </p>
          <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Us
        </p>
        <p class="text-blk subHeadingText">
          We are a community of artisans dedicated to the art of handcrafting.
        </p>
        <p class="text-blk description">
          Our store is a treasure trove of unique, handmade items. From intricate jewelry to beautiful home decor, each item tells a story of the artisan's passion and skill. We believe in preserving traditional crafting techniques and supporting the livelihoods of our talented artisans. When you buy from us, you are not just purchasing a product, but a piece of art that carries a fragment of our heart and soul.
        </p>
      </div>
    </div>
  </div>
</div>