.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-content {
    padding-top: 80px;
    background-color: rgba(209, 152, 201, 0.466);
    height: -webkit-fill-available;
}